<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Ma Watchlist</title>
</head>
<body>
    <h1>Ma Watchlist</h1>
    <div id="retour">
        <a href="{{ url_for('index') }}">Retour à la page d'accueil</a>
    </div>

    <ul>
        {% if watchlist %}
            {% for anime in watchlist %}
                <li>
                    <h3>{{anime}}</h3>
                    <br>
                    <img src="{{ url_for('static', filename='images/' + anime|lower|replace(' ', '_')|replace("'", '')|replace(':', '')|replace("-", '_') + '.jpg') }}" alt="{{ anime }}">


                    <form method="POST" action="{{ url_for('remove_from_watchlist', anime_title=anime) }}">
                        <button type="submit">Retirer de ma Watchlist</button>
                    </form>
                </li>
            {% endfor %}
        {% else %}
            <p>Ta watchlist est vide !</p>
        {% endif %}
    </ul>
</body>
</html>
